:root {
  --bg-light: #e3e6ea;
  --bg-dark: #40444d;
  --text-light: #393d46;
  --text-dark: #FFF;
  --primary-light: #6418c1;
  --primary-dark: #29015e;
  --primary-rgb-light: 100, 24, 193;
  --primary-rgb-dark: 41, 1, 94;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: var(--bg-light);
    --text-color: var(--text-light);
    --primary-color: var(--primary-light);
    --primary-rgb-color: var(--primary-rgb-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--bg-dark);
    --text-color: var(--text-dark);
    --primary-color: var(--primary-dark);
    --primary-rgb-color: var(--primary-rgb-dark);
  }
}

.light {
  --bg-color: var(--bg-light);
  --text-color: var(--text-light);
  --primary-color: var(--primary-light);
  --primary-rgb-color: var(--primary-rgb-light);
}
.dark {
  --bg-color: var(--bg-dark);
  --text-color: var(--text-dark);
  --primary-color: var(--primary-dark);
  --primary-rgb-color: var(--primary-rgb-dark);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  padding: 2rem;
  height: calc(100vh - 54px);
  overflow-y: auto;
  box-sizing: border-box;
}