.team_list .card {
    min-width: 200px;
    flex-direction: column;
    align-items: flex-start;
    transition: .3s ease;
}

.team_list .card p {
    margin-bottom: 0;
}

.team_list button:hover .card {
    border-radius: 5px;
    background: var(--primary-color);
}

.team_list button:hover .card p,
.team_list button:hover .card span {
    color: var(--text-dark);
}